@font-face {
  font-family: 'Jost';
  src: url('/assets/Fonts/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* aceita do Thin até Black */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* Adicionado como boa prática: faz com que padding e border não aumentem a largura dos elementos. */
  box-sizing: border-box; 
}

body {
  color: white;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  font-family: "Jost", sans-serif;
}