@font-face {
  font-family: 'Jost';
  src: url('/assets/Fonts/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* aceita do Thin até Black */
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    font-family: "Jost", sans-serif;
}