@import url("/assets/css/pages/login.css");
@import url("/assets/css/components/buttons.css");
@import url("/assets/css/components/backgrounds_logins.css");

body {
    align-items: center;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}
.button-container{
    min-height: 60px;

}
.button{
    width: 200px;
}

